{% load staticfiles %}
{% load AppTags %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>IoT Dashboard</title>
    <link rel="shortcut icon" href="{% static 'app/img/logo.png' %}" />
    <meta name="description" content="">
    <!-- CSS -->
    <link href="{% static 'app/assets/css/preload.css' %}" rel="stylesheet">
    <link href="{% static 'app/assets/css/vendors.css' %}" rel="stylesheet">
    <link href="{% static 'app/assets/css/syntaxhighlighter/shCore.css' %}" rel="stylesheet" >
    <link href="{% static 'app/assets/css/style-blue.css' %}" rel="stylesheet" title="default">
    <link href="{% static 'app/assets/css/width-full.css' %}" rel="stylesheet" title="default">
    <link href="{% static 'app/css/bootstrap-slider.css' %}" rel="stylesheet">
    <link href="{% static 'app/css/radios.css' %}" rel="stylesheet">
    <style>
        #presence-div{
            background-color: transparent;
            border-radius: unset;
            box-shadow: none;
            bottom: 29%;
            width: 110px;
            height: 110px;
        }
        #presence-div img{
            border-radius: unset;
        }
        .col-xs-10.col-xs-push-1.fade-up-paddings{
            left: 2%;
            width: 98%;;
        }
        #footer{
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
        }
    </style>
</head>

<body>
<div class="sb-site-container">
    <div class="boxed">
        <header id="header-full-top" class="hidden-xs header-full">
            <div class="container">
                <div class="header-full-title" style="background-image: url('{% static 'app/img/logo.png' %}');min-height: 120px;min-width: 200px;">
                </div>
                <nav class="top-nav">
                    <div class="dropdown animated fadeInDown animation-delay-11">
                        <form method="get" action="{% url 'app:logout' %}">
                            <div class="margin-top-20">
                                <button style="background-color: #2495da" class="button button-royal button-circle button-giant">
                                    <i class="fa fa-sign-out"></i>
                                </button>
                            </div>
                        </form>
                    </div> <!-- dropdown -->
                </nav>
            </div> <!-- container -->
        </header> <!-- header-full -->

        <div class="container" style="margin-bottom: 100px;">
            <div class="custom-radios">
                <form id="mode-form">
                {% csrf_token %}
                    <div>
                        <input type="radio" id="encendido" name="mode" value="encendido" {% if state.reported.modoFuncionamiento == 'encendido' %}checked{% endif %}>
                        <label for="encendido">
                            <span>
                                <img class="radio-check encendido" src="{% static 'app/img/encendido.svg' %}" />
                            </span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="presencia" name="mode" value="presencia" {% if state.reported.modoFuncionamiento == 'presencia' %}checked{% endif %}>
                        <label for="presencia">
                            <span>
                                <img class="radio-check presencia" src="{% static 'app/img/presencia.svg' %}" />
                            </span>
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="apagado" name="mode" value="apagado" {% if state.reported.modoFuncionamiento == 'apagado' %}checked{% endif %}>
                        <label for="apagado">
                            <span>
                                <img class="radio-check apagado" src="{% static 'app/img/apagado.svg' %}" />
                            </span>
                        </label>
                    </div>
                </form>
            </div>
            <form id="refresh-from">
                <h2 class="right-line">Sensor's information
                    <button type="submit" class="button button-primary button-circle button-jumbo" style="position: fixed;left: 1330px;top: 139px;">
                        <i class="fa fa-refresh"></i>
                    </button>
                </h2>
            </form>
            <div class="row">
                <div class="col-sm-8 col-md-4">
                    <div class="panel panel-default panel-card wow fadeInRight animation-delay-2">
                        <div class="panel-heading">
                            <img src="{% static 'app/img/card_temp.jpg' %}" />
                        </div>
                        <div class="panel-body text-center">
                            <h4 class="panel-header">
                                <span id="room-temp" style="color: orangered; font-weight: bold; font-size: 48px">{{ state.reported.temperatura }}</span>
                                <span style="color: #b8bbc5; font-weight: bold; font-size: 21px">ºC</span>
                            </h4>
                            <h4 class="panel-header">
                                <span id="room-temp-f" style="color: #adb6be; font-weight: bold; font-size: 25px">{{ state.reported.temperatura|CtoF }}</span>
                                <span style="color: #c9ccd7; font-weight: bold; font-size: 15px">ºF</span>
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-push-1 fade-up-paddings">
                                <form id="setTempForm">{% csrf_token %}
                                    <span style="font-weight: bold; font-size: 20px">ºC&nbsp;&nbsp;&nbsp;</span>
                                    <input type="hidden" name="sensor" value="temp">
                                    <input name="level" data-slider-min="{{ minTemp }}" data-slider-max="40" data-slider-value="{{ state.reported.temperatura }}" class="sliderTemp">
                                    <button id="setTempButton" type="submit" class="button button-glow button-primary button-circle button-small" style="float: right;left: -30px; position:relative;">
                                        <i class="fa fa-check"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-4">
                    <div class="panel panel-default panel-card wow fadeInRight animation-delay-2">
                        <div class="panel-heading">
                            <img src="{% static 'app/img/led.jpg' %}" />
                        </div>
                        <div class="panel-body text-center" style="margin-bottom: 30px">
                            <h4 class="panel-header">
                                <span id="room-light" style="color: orangered; font-weight: bold; font-size: 48px">{{ state.reported.luminosidad }}</span>
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-push-1 fade-up-paddings">
                                <form id="setLightForm">{% csrf_token %}
                                    <span style="font-weight: bold; font-size: 20px">&nbsp;&nbsp;&nbsp;</span>
                                    <input type="hidden" name="sensor" value="light">
                                    <input name="level" data-slider-min="450" data-slider-step="1" data-slider-max="1023" data-slider-value="{{ state.reported.luminosidad }}" class="sliderLight">
                                    <button id="setLightButton" class="button button-glow button-primary button-circle button-small" style="float: right;left: -19px; position:relative;">
                                        <i class="fa fa-check"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8 col-md-4">
                    <div class="panel panel-default panel-card wow fadeInRight animation-delay-2">
                        <div class="panel-heading">
                        </div>
                        <div class="panel-figure" id="presence-div">
                            <img class="img-responsive img-circle" src="{% static 'app/img/presence.png' %}">
                        </div>
                        <div class="panel-body text-center" style="margin-bottom: 20px">
                            <h4 class="panel-header">
                                <span id="room-presence" style="color: orangered; font-weight: bold; font-size: 48px">{% if state.reported.presencia %}{{ 'Occupied' }}{% else %}{{ 'Empty' }}{% endif %}</span>
                            </h4>
                        </div>
                        <div class="row">
                            <div class="col-xs-10 col-xs-push-1 fade-up-paddings">
                                <span id="room-state" style="font-weight: bold; font-size: 15px">The room is currently{% if state.reported.presencia %}{{ ' occupied' }}{% else %}{{ ' empty' }}{% endif %}, reload to check the state of the room.</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h2 class="right-line">Reported Data Charts</h2>
            <div id="containerCharts"></div>
        </div> <!-- container -->
        <footer id="footer">
            <p>&copy; 2018 <a href="#">JIDY </a>, inc. All rights reserved.</p>
        </footer>
        <input id="mode-state" type="hidden" value="{{ state.reported.modoFuncionamiento }}">
        <input id="mode-origin" type="hidden" value="">
    </div> <!-- boxed -->
</div> <!-- sb-site -->

<script src="{% static 'app/assets/js/vendors.js' %}"></script>

<!-- Syntaxhighlighter -->
<script src="{% static 'app/assets/js/syntaxhighlighter/shCore.js' %}"></script>

<script src="{% static 'app/assets/js/app.js' %}"></script>
<script src="{% static 'app/assets/js/holder.js' %}"></script>
<script src="{% static 'app/assets/js/home_info.js' %}"></script>
<script src="{% static 'app/js/bootstrap-slider.js' %}"></script>
<script src="{% static 'app/js/notify.js' %}"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/series-label.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="{% static 'app/js/charts.js' %}"></script>

<script>
    function updateSystemMode(mode) {
        jQuery('#mode-state').val(mode);
        var current_state = jQuery("input[name='mode']:checked").val();
        var origin = $("#mode-origin").val();
        if(origin == 'refresh' && current_state != mode){
            jQuery('#'+mode).prop('checked', true);
            //jQuery('img.'+current_state).css('opacity', 0);
            //jQuery('img.'+mode).css('opacity', 1);
            jQuery("#mode-origin").val('');
        }
    }

    jQuery(document).ready(function () {
        // Draw the chart
        var json= {{charts | safe | escape}};
        updateChart(json);
        // Initiates the slider inputs.
        var tempSlider = jQuery("input.sliderTemp").slider();
        var lightSlider = jQuery("input.sliderLight").slider();
        // Handle the temperature form submit
        $( "#setTempForm" ).submit(function( event ) {
            event.preventDefault();
            var mode = jQuery("input[name='mode']:checked").val();
            if(mode != "apagado"){
                var data = $( this ).serialize();
                jQuery.ajax({
                    url: "{% url 'app:temperature' %}",
                    method: 'POST',
                    data: data,
                    success: function (response) {
                        console.log('success');
                        console.log(response);
                    },
                    error: function (error) {
                        console.log('error');
                        console.log(error);
                    }
                });
            }else{
                jQuery.notify({
                    message: "The system is off!"
                },{
                    type: 'warning',
                    placement: {
                        from: "top",
                        align: "center"
                    }
                });
            }
            return false;
        });
        // Handle the temperature form submit
        $( "#setLightForm" ).submit(function( event ) {
            event.preventDefault();
            var mode = jQuery("input[name='mode']:checked").val();
            if(mode != "apagado"){
                var data = $( this ).serialize();
                jQuery.ajax({
                    url: "{% url 'app:light' %}",
                    method: 'POST',
                    data: data,
                    success: function (response) {
                        console.log('success');
                        console.log(response);
                    },
                    error: function (error) {
                        console.log('error');
                        console.log(error);
                    }
                });
            }else{
                jQuery.notify({
                    message: "The system is off!"
                },{
                    type: 'warning',
                    placement: {
                        from: "top",
                        align: "center"
                    }
                });
            }
            return false;
        });
        // Handle the refresh data submit
        $( "#refresh-from" ).submit(function( event ) {
            event.preventDefault();
            var mode = jQuery("input[name='mode']:checked").val();
            if(mode != "apagado"){
                jQuery.ajax({
                    url: "{% url 'app:refresh' %}",
                    method: 'GET',
                    success: function (response) {
                        var res = JSON.parse(response);
                        updateChart(res);
                        var aux;
                        if(res.state.presencia){
                            aux = 'The room is occupied, reload to check the state of the room.';
                            jQuery("#room-presence").html('Occupied');
                            jQuery("#room-state").html(aux);
                        }
                        else{
                            aux = 'The room is empty, reload to check the state of the room.';
                            jQuery("#room-presence").html('Empty');
                            jQuery("#room-state").html(aux);
                        }
                        jQuery("#room-temp").html(res.state.temperatura);
                        jQuery("#room-temp-f").html((res.state.temperatura*9/5)+32);
                        jQuery("#room-light").html(res.state.luminosidad);
                        jQuery("#mode-origin").val('refresh'); //Prevent sending the ajax after cahnge event of radio buttons
                        updateSystemMode(res.state.modoFuncionamiento);
                    },
                    error: function (error) {
                        console.log('error', error);
                    }
                });
            }else{
                jQuery.notify({
                    message: "The system is off!"
                },{
                    type: 'warning',
                    placement: {
                        from: "top",
                        align: "center"
                    }
                });
            }
            return false;
        });
        // Handle the mode form
        jQuery('#mode-form').change(function () {
            // Get the mode value
            var mode = jQuery("input[name='mode']:checked").val();
            var origin = jQuery("#mode-origin").val();
            if (origin == 'refresh'){
                jQuery("#mode-origin").val('');
            }
            else{
                // Send desired mode
                jQuery.ajax({
                url: '{% url 'app:mode' %}',
                data: {mode: mode, csrfmiddlewaretoken: jQuery("#mode-form").find("input[name='csrfmiddlewaretoken']").val()},
                method: 'POST',
                success: function (response) {
                    var res = JSON.parse(response);
                    console.log(res);
                    updateSystemMode(mode);
                    // Notify the changes
                    var message;
                    var type;
                    if(mode == 'presencia'){
                        message = 'The system is motion-dependent, click the refresh button to check if there\'s any change.';
                        type = 'info';
                    }
                    else if(mode == 'apagado'){
                        message = 'The system is off.';
                        type = 'danger';
                    }
                    else{
                        message = 'The system is on.';
                        type = 'success';
                    }
                    jQuery.notify({
                        message: message
                    },{
                        type: type,
                        placement: {
                            from: "top",
                            align: "center"
                        }
                    });
                },
                error: function (error) {
                    jQuery.notify({
                        message: "There's was an error while executing your request, retry later."
                    },{
                        type: 'danger',
                        placement: {
                            from: "top",
                            align: "center"
                        }
                    });
                    console.log('error', error);
                }
            });
            }
        })
    });
</script>
</body>

</html>
