{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <title>Security</title>

    <meta name="description" content="">

    <link href="{% static 'app/assets/css/preload.css' %}" rel="stylesheet">
    <link href="{% static 'app/assets/css/vendors.css' %}" rel="stylesheet">
    <link href="{% static 'app/assets/css/syntaxhighlighter/shCore.css' %}" rel="stylesheet" >
    <link href="{% static 'app/assets/css/style-blue.css' %}" rel="stylesheet" title="default">
    <link href="{% static 'app/assets/css/width-full.css' %}" rel="stylesheet" title="default">
</head>

<!-- Preloader -->
<div id="preloader">
    <div id="status">&nbsp;</div>
</div>

<body>

<div class="paper-back-full">
    <div class="login-form-full">
        <div class="fix-box">
            <div class="text-center title-logo animated fadeInDown animation-delay-5">Dashboard<span>&nbsp;Access</span></div>
            <div class="transparent-div no-padding animated fadeInUp animation-delay-8">
                <ul class="nav nav-tabs nav-tabs-transparent">
                    <li class="active" style="width: 100%; text-align: center"><a href="#home" data-toggle="tab">Login</a></li>
                </ul>
                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane active" id="home">
                        <form role="form" action="{% url 'app:signin' %}" method="post">
                            {% csrf_token %}
                            <div class="form-group">
                                <div class="input-group login-input">
                                    <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                    <input required type="email" name="email" class="form-control" placeholder="Email">
                                </div>
                                <br>
                                <div class="input-group login-input">
                                    <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                    <input required type="password" name="password" class="form-control" placeholder="Password">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-ar btn-primary pull-left">Login</button>
                                    &nbsp;&nbsp;&nbsp;If you don't have an account yet, you can <a href="{% url 'app:signup' %}">register here</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="{% static 'app/assets/js/vendors.js' %}"></script>
<script src="{% static 'app/assets/js/syntaxhighlighter/shCore.js' %}"></script>
<script src="{% static 'app/assets/js/app.js' %}"></script>
<script src="{% static 'app/assets/js/holder.js' %}"></script>
<script src="{% static 'app/js/home_login_full.js' %}"></script>
<script src="{% static 'app/js/notify.js' %}"></script>

{% if messages %}
    <script>
        jQuery(document).ready(function () {
            {% for message in messages %}
                jQuery.notify({
                    message: '{{ message }}'
                },{
                    type: 'danger',
                    placement: {
                        from: "top",
                        align: "center"
                    }
                });
            {% endfor %}
        });
    </script>
{% endif %}
</body>

</html>
