<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>
  <form #loginForm="ngForm" (submit)="onLogin(loginForm)" *ngIf="!isLoading">
    <mat-form-field>
      <input matInput name="email" ngModel #emailInput="ngModel" type="email" placeholder="E-Mail" required email>
      <mat-error *ngIf="emailInput.invalid">Please enter a valid email.</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput ngModel #passwordInput="ngModel" name="password" [type]="hide ? 'password' : 'text'" placeholder="Password" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="passwordInput.invalid">Please enter a valid password.</mat-error>
    </mat-form-field>
    <button
      mat-raised-button color="accent" type="submit">
      Login
    </button>
  </form>
</mat-card>
