<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion *ngIf="posts.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let post of posts">
    <mat-expansion-panel-header>
      <mat-panel-title>{{post.title}}</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="post-image" *ngIf="post.imagePath !== '' && post.imagePath">
      <img [src]="post.imagePath" [alt]="post.title">
    </div>
    <p>{{post.content}}</p>
    <mat-action-row *ngIf="userIsAuthenticated && userId === post.creator">
      <a color="primary" mat-button [routerLink]="['/edit', post.id]">Edit</a>
      <button color="warn" (click)="onDelete(post.id)" mat-button>Delete</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalPosts" [pageSize]="postsPerPage" [pageSizeOptions]="pageSizeOptions"
               (page)="onChangedPage($event)"
               *ngIf="posts.length > 0"></mat-paginator>
<p class="info-text mat-body-2" *ngIf="posts.length <= 0 && !isLoading">No posts added yet!</p>
