{% extends 'base.html' %}
{% load staticfiles %}

{% block body %}
    <div class="pcoded-content">
        <!-- [ breadcrumb ] start -->
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-8">
                        <div class="page-header-title">
                            <h4 class="m-b-10">Dashboard</h4>
                        </div>
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="{% url 'home' %}">
                                    <i class="feather icon-home"></i>
                                </a>
                            </li>
                            <li class="breadcrumb-item">
                                <a href="#!">Datasets</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- [ breadcrumb ] end -->
        <div class="pcoded-inner-content">
            <!-- Main-body start -->
            <div class="main-body">
                <div class="page-wrapper">
                    <!-- Page-body start -->
                    <div class="page-body">
                        <div class="row">
                            <div class="col-sm-12">
                            <!-- Default ordering table start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Repetición de palabras</h5>
                                        <span>Dataset con la repetición de palabras más usadas</span>
                                    </div>
                                    <div class="card-block">
                                        <div class="dt-responsive table-responsive">
                                            <table id="order-table1" class="table table-striped table-bordered nowrap">
                                                <thead>
                                                <tr>
                                                    <th>Palabra</th>
                                                    <th>Repeticiones</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for e in np %}
                                                    <tr>
                                                        <td>{{ e.keyword }}</td>
                                                        <td>{{ e.repeats }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th>Palabra</th>
                                                    <th>Repeticiones</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Default ordering table end -->
                            <!-- Default ordering table start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Dataset con ratio de Followers/Following</h5>
                                        <span>El dataset contiene información de los nombres de usuarios con el número de followers y followings y su ratio</span>
                                    </div>
                                    <div class="card-block">
                                        <div class="dt-responsive table-responsive">
                                            <table id="order-table2" class="table table-striped table-bordered nowrap">
                                                <thead>
                                                <tr>
                                                    <th>Username</th>
                                                    <th>Followers</th>
                                                    <th>Following</th>
                                                    <th>Ratio</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for e in f %}
                                                    <tr>
                                                        <td>{{ e.nickname }}</td>
                                                        <td>{{ e.followers }}</td>
                                                        <td>{{ e.following }}</td>
                                                        <td>{{ e.ratio|floatformat:2 }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th>Username</th>
                                                    <th>Followers</th>
                                                    <th>Following</th>
                                                    <th>Ratio</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Default ordering table end -->
                            <!-- Default ordering table start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Repeticiones de Hashtags</h5>
                                        <span>El dataset contiene inforación de los hashtags con más repetición</span>    
                                    </div>
                                    <div class="card-block">
                                        <div class="dt-responsive table-responsive">
                                            <table id="order-table3" class="table table-striped table-bordered nowrap">
                                                <thead>
                                                <tr>
                                                    <th>Hashtag</th>
                                                    <th>Repeticiones</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for e in hc %}
                                                    <tr>
                                                        <td>{{ e.hash }}</td>
                                                        <td>{{ e.repeats }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th>Hash</th>
                                                    <th>Repeticiones</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Default ordering table end -->
                                <!-- Default ordering table start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Número de tweets por hora</h5>
                                        <span>El dataset contiene información de los números de tweets por hora</span>
                                    </div>
                                    <div class="card-block">
                                        <div class="dt-responsive table-responsive">
                                            <table id="order-table4" class="table table-striped table-bordered nowrap">
                                                <thead>
                                                <tr>
                                                    <th>Hora</th>
                                                    <th># de Tweets</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for e in th %}
                                                    <tr>
                                                        <td>{{ e.time }}</td>
                                                        <td>{{ e.repeats }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th>Hora</th>
                                                    <th># de Tweets</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Default ordering table end -->
                                                            <!-- Default ordering table start -->
                                <div class="card">
                                    <div class="card-header">
                                        <h5>Número de tweets por día</h5>
                                        <span>El dataset contiene información de los números de tweets por hora</span>
                                    </div>
                                    <div class="card-block">
                                        <div class="dt-responsive table-responsive">
                                            <table id="order-table5" class="table table-striped table-bordered nowrap">
                                                <thead>
                                                <tr>
                                                    <th>Día</th>
                                                    <th># de Tweets</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                {% for e in dt %}
                                                    <tr>
                                                        <td>{{ e.day }}</td>
                                                        <td>{{ e.num }}</td>
                                                    </tr>
                                                {% endfor %}
                                                </tbody>
                                                <tfoot>
                                                <tr>
                                                    <th>Día</th>
                                                    <th># de Tweets</th>
                                                </tr>
                                                </tfoot>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <!-- Default ordering table end -->
                            </div>
                        </div>
                    </div>
                    <!-- Page-body end -->
                </div>
            </div>
            <!-- Main-body end -->
        </div>
    </div>
{% endblock body %}

{% block scripts %}
    <script src="{% static 'files/bower_components/datatables.net/js/jquery.dataTables.min.js' %}"></script>

    <script src="{% static 'files/bower_components/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'files/bower_components/datatables.net-responsive/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'files/bower_components/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js' %}"></script>
    <!-- Custom js -->
    <script src="{% static 'files/assets/pages/data-table/js/data-table-custom.js' %}"></script>
    <script src="{% static 'files/assets/js/pcoded.min.js' %}"></script>
    <script src="{% static 'files/assets/js/vertical/vertical-layout.min.js' %}"></script>
    <script src="{% static 'files/assets/js/jquery.mCustomScrollbar.concat.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'files/assets/js/script.js' %}"></script>
{% endblock scripts %}
