
.custom-radios {
    display: block;
    position: absolute;
    float: left;
    z-index: 3333;
    left: 10px;
    top: 150px

}
.custom-radios div {
    display: block;
}
.custom-radios input[type="radio"] {
  display: none;
}
.custom-radios input[type="radio"] + label {
  color: #333;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.custom-radios input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: baseline;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 44px;
}
.custom-radios input[type="radio"] + label span img {
  opacity: 0;
  transition: all .3s ease;
}
.custom-radios input[type="radio"]#encendido + label span {
  background-color: #00cc00;
}
.custom-radios input[type="radio"]#presencia + label span {
  background-color: #ffda00;
}
.custom-radios input[type="radio"]#apagado + label span {
  background-color: #ff0000;
}
.custom-radios input[type="radio"]:checked + label span img {
  opacity: 1;
}
.radio-check{
    vertical-align: baseline;
}